#Python Basics

In [ ]:
print('Drishya')

Drishya

In [ ]:
a=12
print(a)

12

In [ ]:
ads345=2
sdfrg46=3
wer678=ads345+sdfrg46
print(wer678)

5

In [ ]:
x=2
y=3
z=2+3
print(z)

5

In [ ]:
num1=2
num2=3
sum=2+3
print(sum)

5

In [ ]:
payment_per_day=795
days_of_working=26
total_salary=payment_per_day * days_of_working
print(total_salary)

20670

In [ ]:
x,y,z="fruits","markets","computer"
print(x,y,z)

fruits markets computer

In [ ]:
# x,y,z="oranges"
"""print(x)
print(y)
print(z)"""

'print(x)\nprint(y)\nprint(z)'

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="1234"
print(x)

hello python

In [ ]:
print(y)

123

In [ ]:
print(z)

1.23

In [ ]:
print(a)

True

In [ ]:
print(b)

1234

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
print(type(y))

<class 'int'>

In [ ]:
print(type(z))

<class 'float'>

In [ ]:
print(type(a))

<class 'bool'>

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
x=5
y=6
z=x+y
print(z)

11

In [ ]:
z=x*y
print(z)

30

In [ ]:
x=8
y=5
z=x-y
print(z)

3

In [ ]:
x=10
y=6
z=x/y
print(z)

1.6666666666666667

In [ ]:
z=x % y
print(z)

4

In [ ]:
z=x%y
print(z)

4

In [ ]:
z=x//y
print(z)

1

In [ ]:
x=123
print(x)

123

In [ ]:
print(str(x))

123

In [ ]:
x="12345"
print(x)

12345

In [ ]:
print(int(x))

12345

In [ ]:
x="hello"
y="python"
var=x+y
print(var)

hellopython

In [ ]:
print(type(var))

<class 'str'>

In [ ]:
x="13345"
y=12345
z=int(x)
a=z+y
print(z)

13345

In [ ]:
print(a)

25690

In [ ]:
x="hello"
z=int("hello")
print(z)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
x="array"
print(x[0])

a

In [ ]:
x="hello programmer"
print(len(x))

16

In [ ]:
Text="hello,let's start programming"
print("start" in Text)

True

In [ ]:
print("hello" not in Text)

False

In [ ]:
xyz="hai my name is Drishya"
print(xyz[2:10])

i my nam

In [ ]:
xyz="hai my name is Drishya"
print(xyz[3:])

 my name is Drishya

In [ ]:
x="hai my name is Drishya"
print(x[3:])

 my name is Drishya

In [ ]:
y="hai my name is Drishya"
print(y[0:15:2])

him aei

In [ ]:
b="hello,world"
print(b[-5:-2])

wor

In [ ]:
word="hello world"
print(word.upper())

HELLO WORLD

In [ ]:
word="HELLO WORLD"
print(word.lower())

hello world

In [ ]:
#strip function
a="    hello world"
print(a.strip())

hello world

In [ ]:
a="hello python"
print(a.replace("python","world"))

hello world

In [ ]:
a="hai"
b="drishya"
z=a+b
print(z)

haidrishya

In [ ]:
#string format
age=25
txt='My name is Drishya,and iam {}'
print(txt.format(age))

My name is Drishya,and iam 25

In [ ]:
amount=3212
orderno=4776
quantity=10
myorder='I want {} of my order {} for {} rupees.'
print(myorder.format(quantity,orderno,amount))

I want 10 of my order 4776 for 3212 rupees.

In [ ]:
txt="hello \bthis\' s python"
print(txt)

hello this' s python

In [ ]:
txt="hello \"python \" programmer"
print(txt)

hello "python " programmer

In [ ]:
txt="hello \npython programmer"
print(txt)

hello
python programmer

In [ ]:
print(10 == 10)
print(10<9)

True
False

In [ ]:
print(bool("hello"))
print(bool(100))

True
True

In [ ]:
print(bool(False))
print(bool(()))
print(bool([]))

False
False
False

In [ ]:
x=5
y=6
res=x+y
print(res)

11

In [ ]:
x=5
y=7
res=y-x
print(res)

2

In [ ]:
x=5
y=6
res=x*y
print(res)

30

In [ ]:
print(2**3)

8

In [ ]:
x=10
y=5
res=x/y
print(res)

2.0

In [ ]:
x=10
y=6
res=x//y
print(res)

1

In [ ]:
x=10
y=6
res=x%y
print(res)

4

In [ ]:
import operator
operator.add(4,5)

9

In [ ]:
operator.sub(10,2)

8

In [ ]:
operator.mul(2,5)

10

In [ ]:
operator.pow(3,3)

27

In [ ]:
operator.truediv(10,2)

5.0

In [ ]:
operator.floordiv(10,3)

3

In [ ]:
operator.mod(10,3)

1

In [ ]:
x=5
print(x)

5

In [ ]:
x=6
x+=5
print(x)
operator.iadd(5,5)

11

10

In [ ]:
x=6
x-=5
print(x)

1

In [ ]:
x=6
x*=5
print(x)

30

In [ ]:
x=5
y=6
x>1 and y<10

True

In [ ]:
x=5
y=6
x>1 or y>10

True

In [ ]:
x=4
not x>1

False

In [ ]:
x=6
not x>10

True

In [ ]:
x=5
y=6
x is y

False

In [ ]:
operator.is_(5,6)

False

In [ ]:
x=5
y=6
x is not y

True

In [ ]:
operator.is_not(5,6)

True

In [ ]:
nums=[1,2,3,4,5]
1 in nums

True

In [ ]:
nums=[1,2,3,4,5]
1 not in nums

False

In [ ]:
nums=[1,2,3,4,5]
operator.contains(nums,3)

NameError: name 'operator' is not defined

In [ ]:
nums=[1,2,3,4,5]
not operator.contains(nums,2)

False

In [ ]:
#LISTS
Fruits=["apple","orange","mango","kiwi"]
print(Fruits)

['apple', 'orange', 'mango', 'kiwi']

In [ ]:
Fruits=["apple","orange","mango","kiwi"]
print(Fruits[2])

mango

In [ ]:
Fruits=["apple","orange","mango","kiwi"]
print(Fruits[-1])                         #negative indexing

kiwi

In [ ]:
Fruits=["apple","orange","mango","kiwi"]
print(Fruits[1:3])

['orange', 'mango']

In [ ]:
Fruits=["apple","orange","mango","kiwi"]
print(Fruits[:3])

['apple', 'orange', 'mango']

In [ ]:
Fruits=["apple","orange","mango","kiwi"]
print(Fruits[0:])

['apple', 'orange', 'mango', 'kiwi']

In [ ]:
Fruits=["apple","orange","mango","kiwi","pineapple"]
Fruits[2:4]=["watrmelon","greenapple"]                  #replace using slicing
print(Fruits)

['apple', 'orange', 'watrmelon', 'greenapple', 'pineapple']

In [ ]:
Fruits=["apple","orange","mango"]
Fruits[2:]=["watermelon","kiwi"]
print(Fruits)

['apple', 'orange', 'watermelon', 'kiwi']

In [ ]:
Fruits=["apple","banana","orange"]
Fruits[1:2]=["kiwi"]
print(Fruits)

['apple', 'kiwi', 'orange']

In [ ]:
#insert function
Fruits=["apple","banana","cherry"]
Fruits.insert(1,"orange")
print(Fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#append function
Fruits=["apple","banana","cherry"]
Fruits.append("orange")
print(Fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#To append elements from another list-extend()
Fruits=["apple","banana","cherry"]
Fruits2=["mango","pineapple","papaya"]
Fruits.extend(Fruits2)
print(Fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#remove function
Fruits=["apple","banana","cherry"]
Fruits.remove("apple")
print(Fruits)

['banana', 'cherry']

In [ ]:
#pop
Fruits=["apple","banana","cherry"]
Fruits.pop(1)
print(Fruits)

['apple', 'cherry']

In [ ]:
#del
Fruits=["apple","banana","cherry"]
del Fruits[1]
print(Fruits)

['apple', 'cherry']

In [ ]:
#to delete all items
Fruits=["apple","banana","cherry"]
del Fruits

In [ ]:
#to clear items in list
Fruits=["apple","banana","cherry"]
Fruits.clear()
print(Fruits)

[]

In [ ]:
#to copy items in this list to another
Fruits=["apple","banana","cherry"]
myfruits=Fruits.copy()
print(myfruits)

['apple', 'banana', 'cherry']

In [ ]:
#count function- to count the occurence of element
Fruits=["apple","banana","cherry"]
Fruits.count("apple")

1

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.index("banana")

1

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.reverse()
print(Fruits)

['cherry', 'banana', 'apple']

In [ ]:

Fruits=["apple","cherry","pineapple","banana"]
Fruits.sort()
print(Fruits)

['apple', 'banana', 'cherry', 'pineapple']

In [ ]:
#Tuple
fruits=("apple","orange","kiwi")
print(fruits)

('apple', 'orange', 'kiwi')

In [ ]:
fruits=("apple","orange","kiwi")
print(len(fruits))

3

In [ ]:
#type function -to check the type of sequence
fruits=("apple","orange","kiwi")
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits[1])

orange

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits[-1])

kiwi

In [ ]:
fruits=("apple","orange","kiwi","cherry","banana")
print(fruits[2:])

('kiwi', 'cherry', 'banana')

In [ ]:
#changing tuple to list
x=("apple","orange","kiwi")
y=list(x)
y[1]="watermelon"
#print(y)
x=tuple(y)
print(x)

('apple', 'watermelon', 'kiwi')

In [ ]:
#packing and unpacking
fruits=("apple","orange","kiwi")    #packed values
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
orange
kiwi

In [ ]:
#SETS
fruits={"apple","orange","banana"}
print(fruits)

{'apple', 'banana', 'orange'}

In [ ]:
#add function
fruits={"apple","orange","banana"}
fruits.add("cherry")
print(fruits)

{'apple', 'banana', 'orange', 'cherry'}

In [ ]:
#update-merge list or tuple with set using this function
fruits={"apple","orange","banana"}
mylist=["cherry","kiwi"]
fruits.update(mylist)
print(fruits)

{'banana', 'orange', 'apple', 'cherry', 'kiwi'}

In [ ]:
#remove function
fruits={"apple","orange","banana"}
fruits.remove("banana")
print(fruits)

{'apple', 'orange'}

In [ ]:
#discard -same as remove function
fruits={"apple","orange","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'orange', 'cherry'}

In [ ]:
#pop function-pop element from anywhere
fruits={"apple","orange","banana","cherry"}
x=fruits.pop()
print(fruits)

{'banana', 'orange', 'cherry'}

In [ ]:
#union function
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [ ]:
#update
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

In [ ]:
#intersection update
x={"apple","orange","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
#intersection
x={"apple","orange","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
#symmetric_difference_update  keep only elements that are not in both
x={"apple","orange","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'orange', 'microsoft', 'cherry'}

In [ ]:
x={"apple","orange","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'banana', 'google', 'orange', 'microsoft', 'cherry'}

In [ ]:
x={"apple","orange","banana","cherry"}
y={"google","microsoft","apple"}

print(x.isdisjoint(y))

False

In [ ]:
#frozenset
num=(1,2,3,4,5)
fnum=frozenset(num)
print("frozenset object is:",fnum)

frozenset object is: frozenset({1, 2, 3, 4, 5})

In [ ]:
#DICTIONARIES
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2004}

In [ ]:
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
print(cars['model'])

2nd series

In [ ]:
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
x=cars.get('model')
print(x)

2nd series

In [ ]:
#keys()-this shows keys in dictionary
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
x=cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
#values method
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
x=cars.values()
print(x)

dict_values(['BNW', '2nd series', 2004])

In [ ]:
#to add new element
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
x=cars.values()
print(x)
cars["color"]="black"
print(cars)

dict_values(['BNW', '2nd series', 2004])
{'brand': 'BNW', 'model': '2nd series', 'year': 2004, 'color': 'black'}

In [ ]:
#item()method
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
x=cars.items()
print(x)

dict_items([('brand', 'BNW'), ('model', '2nd series'), ('year', 2004)])

In [ ]:
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
cars["year"]=2020
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2020}

In [ ]:
#update()to change the value of an element
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
cars.update({"year":2020})
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2020}

In [ ]:
#pop method
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
cars.pop("model")
print(cars)

{'brand': 'BNW', 'year': 2004}

In [ ]:
#popitem-this will pop last item
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
cars.popitem()
print(cars)

{'brand': 'BNW', 'model': '2nd series'}

In [ ]:
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
del cars["model"]
print(cars)

{'brand': 'BNW', 'year': 2004}

In [ ]:
#copy
cars={
    "brand":"BNW",
    "model":"2nd series",
    "year": 2004
}
mydict=cars.copy()
print(mydict)

{'brand': 'BNW', 'model': '2nd series', 'year': 2004}

In [ ]:
#nested dictionary
child1={
        "name":"arun",
        "year":2000
    }
child2={
        "name":"arya",
        "year":2001
    }
friends={
    "child1":child1,
    "child2":child2
}
print(friends)

{'child1': {'name': 'arun', 'year': 2000}, 'child2': {'name': 'arya', 'year': 2001}}

In [ ]:
car1={
    "brand":"BNW",
    "model":"2nd series"
}
car2={
    "brand":"Maruti",
    "model":"Ertiga"
}
cars={
    "car1":car1,
    "car2":car2
}
print(cars)

{'car1': {'brand': 'BNW', 'model': '2nd series'}, 'car2': {'brand': 'Maruti', 'model': 'Ertiga'}}

In [ ]:
#conditional statement
#if condition
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=330
b=200
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

In [ ]:
a=200
b=33
c=500
if a>b or  a>c:
  print("Atleast one of the condition is True")

Atleast one of the condition is True

In [ ]:
x=41
if x>10:
  print("Above ten,")
  if x>20:
    print("and also above 20!")

else:
  print("but not above 20")

Above ten,
and also above 20!

In [ ]:
#while loop
a=[1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
i=0
while i<4:
  i+=1
  print(i)

1
2
3
4

In [ ]:
i=0
while i<4:
  print(i)
  i+=1

0
1
2
3

In [ ]:
a='loop in python'
i=0

while i<len(a):
  i+=1
  pass
print('value of i:',i)

value of i: 14

In [ ]:
for i in range(1,11):
  if i==3:
    pass

In [ ]:
#print all letters except 'y' and 'o'
i=0
a='loops in python'
while i<len(a):
  if a[i]=='y' or a[i]=='o':
    i+=1
    continue
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: p
current letter: s
current letter:
current letter: i
current letter: n
current letter:
current letter: p
current letter: t
current letter: h
current letter: n

In [ ]:
#break the loop as soon it sees 'p'
i=0
a='loops in python'
while i<len(a):
  if a[i]=='p' or a[i]=='h':
    i+=1
    break
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: o
current letter: o

In [ ]:
#while-else loop
i=0
while i<4:
  i+=1
  print(i)

else:          #executed because there is no break in loop
  print("No break\n")

1
2
3
4
No break

In [ ]:
#TO Input a mark from user and check the grade
a=int(input("enter mark: "))
if a>=90:
  print("Grade:A+")
elif a>=80:
  print("Grade:A")
elif a>=70:
  print("Grade:B+")
elif a>=60:
  print("Grade:B")
elif a>=50:
  print("Grade:C+")
elif a>=40:
  print("Grade:C")
else:
  print("FAILED!!!")

enter mark: 92
Grade:A+

In [ ]:
#for loop
#iterating over a list
print("List iteration")
l=["hello","for","python"]
for i in l:
  print(i)

List iteration
hello
for
python

In [ ]:
#iterationg over a tuple
print("\nTuple iteration\n")
t=("hello","for","python")
for i in t:
  print(i)

Tuple iteration

hello
for
python

In [ ]:
#print all letters except 'e' and 'o' using for loop
for x in 'python developer':
  if x=='e' or x=='o':
    continue
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: d
current letter: v
current letter: l
current letter: p
current letter: r

In [ ]:
#range() fuction
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#odd numbers
print("Odd numbers upto 100")
for i in range(1,100,2):
  print(i)

Odd numbers upto 100
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#even numbers
print("Even numbers upto 100")
for i in range(2,100,2):
  print(i)

Even numbers upto 100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
#sum of 1st 10 natural numbers
sum=0

for i in range(1,11):
  sum=sum+i
print("sum of 1st 10 natural number is",sum)

sum of 1st 10 natural number is 55

In [ ]:
#nested for loop
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#Print a multiplication table
a=int(input("Enter a number:"))
for i in range(1,11):
  mul=i*a
  print(i,"x",a,"=",mul)

Enter a number:3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [ ]:
#Factorial of a number
fact=1
a=int(input("Enter a number:"))
for i in range(1,a+1):    #to get upto a must put range from 1 to a+1
  fact=fact*i
print("factorial is",fact)

Enter a number:5
factorial is 120

In [ ]:
#Print each character in a string
for i in 'helloworld':
  print("current letter  is",i)

current letter  is h
current letter  is e
current letter  is l
current letter  is l
current letter  is o
current letter  is w
current letter  is o
current letter  is r
current letter  is l
current letter  is d

In [ ]:
#Print each character in a input string
a=input("enter the sentence:")
for i in range(len(a)):
  print("current letter  is",a[i])

enter the sentence:hai python
current letter  is h
current letter  is a
current letter  is i
current letter  is
current letter  is p
current letter  is y
current letter  is t
current letter  is h
current letter  is o
current letter  is n

In [ ]:
#print  vowels in a string
a=input("enter the sentence:")
for i in range(len(a)):
  if a[i]=='a'or a[i]=='e'or a[i]=='i'or a[i]=='o'or a[i]=='u':
      print("vowels in this sentence are:",a[i])

enter the sentence:hai python
vowels in this sentence are: a
vowels in this sentence are: i
vowels in this sentence are: o

In [ ]:
#Count the number of vowels in a string--------doubt???
vowels='aeiou'
c=0
a=input("enter the sentence:")
for i in range(len(a)):
  if a[i] in vowels:
    c+=1
print("number of vowels",c)

enter the sentence:hai its me Drishya and i am currently doing python
number of vowels 14

In [ ]:
#Reverse a string---loop the string through reverse order and print characters
a="Drishya"
print(a[::-1])

ayhsirD

In [ ]:
#Reverse a string---loop the string through reverse order and print characters
a=input("Enter the string:")

for i in a[::-1]:
  print(i)

Enter the string:hello
o
l
l
e
h

In [ ]:
print("hello"),input()

hello
ewd

(None, 'ewd')

In [ ]:
#Python function
def my_function():
  sum=1+2
  print(sum)

In [ ]:
my_function()

3

In [ ]:
def function_para(*r):
  for i in r:
    print(i)

In [ ]:
function_para(10,5,3,6)

10
5
3
6

In [ ]:
a=10
b=20
function_para(b,a)

30

In [ ]:
def type_para(**r):
  for i,j in r.items():
    print(i,"=",j)
type_para(fname="angel",lastname="rose")

fname = angel
lastname = rose

In [ ]:
def type_para(r):
  print(r)
a=[1,2,3,4]
type_para(a)

[1, 2, 3, 4]

In [ ]:
def hello():
  print("welcome")
hello()

welcome

In [ ]:
#arguments of a function
def evenOrodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")
evenOrodd(6)
evenOrodd(7)

even
odd

In [ ]:
#default arguments
def myFun(x,y=50):
  print("x:",x)
  print("y:",y)
myFun(10)

x: 10
y: 50

In [ ]:
#passing variable  no.of arguments
def my_function(*kids):
  print("The yougest child is "+kids[2])
my_function("Emil","Tobias","Linus")

The yougest child is Linus

In [ ]:
#passing keyword arguyments
def my_fun(**student):
  print("His first name is"+student["fname"])
my_fun(fname="vignesh",lname="s")

His first name isvignesh

In [ ]:
def myFun(**kwargs):
  for key,value in kwargs.items():
    print(key,"=",value)
myFun(first='welcome',mid='for',last='course')

first = welcome
mid = for
last = course

In [ ]:
#passing list as an argument

def my_function(x):
  for i in x:
    print(i)
fruits=["apple","banana",'cherry']
my_function(fruits)

apple
banana
cherry

In [ ]:
def square_value(num):
  return num**2
x=square_value(2)
print(x)
print(square_value(-4))
a=2
print(a)

4
16
2

In [ ]:
#function pass by reference
def myfun(x):
  x[0]=30
lst=[9,11,13,14,15]
myfun(lst)
print(lst)

[30, 11, 13, 14, 15]

In [ ]:
#function inside a function
def f1():
  s='i love python'
  def f2():
    print(s)

  f2()
f1()

i love python

In [ ]:
#lambda function
x="hello python"
g=lambda x:print(x)
g(x)

hello python

In [ ]:
#Difference b/w lambda and normal function call
def cube(y):
  return y*y*y
g=lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a:a**n

base=power(2)
print("Now power is set to 2")
print("6 power of 2=",base(6))
base=power(5)
print("Now power is set to 5")
print("8 power of 5=",base(8))

Now power is set to 2
6 power of 2= 36
Now power is set to 5
8 power of 5= 32768

In [ ]:
#filter() and map() function
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2 == 0,a)
print(list(filtered))

#map()
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

In [ ]:
#global variable
def myfunction():
  print(s)
s="I love python"
myfunction()

I love python

In [ ]:
def myfunction():
  x="Me too"   #local variable
  print(x)

#global scope
s="I love python"
myfunction()
print(s)

Me too
I love python

In [ ]:
#example for local and global variable
a=1
def f():
  print('Inside f():',a)    #uses global beacuse there is no local a
def g():
  a=2      #variable 'a' is redefined as local
  print('Inside g():',a)
def h():
  global a    #uses global keyword to modify global a
  a=3
  print('Inside h():',a)
print('global:',a)    #Global scope
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

global: 1
Inside f(): 1
global: 1
Inside g(): 2
global: 1
Inside h(): 3
global: 3

In [ ]:
#python functions are first class objects
def shout(text):
  return text.upper()

print(shout('Hello'))
yell = shout
print(yell('Hello'))

HELLO
HELLO

In [ ]:
#functions can be passed as an argument
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""Hi,I am  created by a fuction passed as an argument""" )
  print(greeting)
greet(shout)
greet(whisper)

HI,I AM  CREATED BY A FUCTION PASSED AS AN ARGUMENT
hi,i am  created by a fuction passed as an argument

In [ ]:

#function can return  another function
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15 =create_adder(15)
print(add_15(10))

25

In [ ]:
#Recursive Function

def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))

num=int(input("Enter the number:"))
print("The factorial of",num,"is",calc_factorial(num))

Enter the number:5
The factorial of 5 is 120

In [ ]:
#simple pgm
def add(x,y):
  return(x+y)
def subtract(x,y):
  return(x-y)


print(add(10,2))

12

In [ ]:
#importing sqrt() and factorial from the module math
from math import sqrt,factorial

print(sqrt(16))
print(factorial(6))

4.0
720

In [ ]:
#from import * statement

from random import*
print(dir(random))

['__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__self__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__text_signature__']

In [ ]:
import random
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_floor', '_index', '_inst', '_isfinite', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

# Simple python questions

In [ ]:
#even or odd checker
num=int(input("enter the number:"))
if(num%2==0):
  print("The number is even")
else:
  print("The number is odd")

enter the number:3
The number is odd

In [ ]:
#Number Range Printer
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#Sum of First N Numbers
sum=0
num=int(input("Enter the number:"))
for i in range(1,num+1):
  sum=sum+i
print("The sum is",sum)

Enter the number:4
The sum is 10

In [ ]:
#Simple Password Checker
password="Drishya"
var=input("Enter the password:")
if(var==password):
  print("You are logged in!!!!!")
else:
  print("Incorrect Passwod....")

Enter the password:asqwerfeget
Incorrect Passwod....

In [ ]:
#Prime Number Checker

num=int(input("Enter the number:"))
def check_prime(num):
  for i in range(2,num):
    if(num%i==0):
      print("The number is not prime")
      break
    else:
      print("The number is prime")
      break

check_prime(num)

Enter the number:4
The number is not prime

In [ ]:
#Factorial Calculator using function

num=int(input("Enter the number:"))
def cal_fact(num):
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  print("The factorial is:",fact)

cal_fact(num)

Enter the number:5
The factorial is: 120

In [ ]:
#Print numbers from 1 to 100.

#Use if to print “Fizz” for multiples of 3, “Buzz” for 5, and “FizzBuzz” for both.
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("FizzBuzz")
  elif i%3==0 :
    print("Fizz")
  elif i%5==0 :
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#Find Maximum in a List
#Use a for loop to iterate through a list of numbers.
#Use if to find and return the maximum using a function.

list1=[43,21,35,11,60,23,34,50]
def find_max(list1):
  max_value=0
  for i in list1:
    if i>max_value:
      max_value=i
  print("The maximum number is:",max_value)

find_max(list1)

The maximum number is: 60

In [ ]:
c=8
def lst():
  print(c)

In [ ]:
#count vowels using function

vowel='aeiou'

strng=input("Enter the string")
def count_vowel(strng):
  c=0
  for i in range(len(strng)):
    if a[i] in vowel:
      c+=1
  print("number of vowels",c)



count_vowel(strng)

Enter the stringhai
number of vowels 2

In [ ]:
#largest of 3 numbers
def largest(num1,num2,num3):
  if num1>num2 and num1>num3:
    print("The largest number is",num1)
  elif num2>num1 and num2>num3:
    print("The largest number is",num2)
  else:
    print("the largest number is",num3)

num1=int(input("enter the 1st num "))
num2=int(input("enter the 2nd num "))
num3=int(input("enter the 3rd num "))
largest(num1,num2,num3)

enter the 1st num 24
enter the 2nd num 31
enter the 3rd num 11
The largest number is 31

In [ ]:
 #Palindrome Checker

def palin_Checker(strng):
  if strng==strng[::-1]:
    print("Palindrome")
  else:
    print("not palindrome")
strng=input("Enter the string:")
palin_Checker(strng)

Enter the string:malayalam
Palindrome

In [ ]:
#Fibonacci series
num=int(input("Enter the number of elements:"))
a=[0,1]
for i in range(2,num):
  a.append(a[i-1]+a[i-2])
print(a)

Enter the number of elements:8
[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
#Reverse list
a=[1,99,2,3,4,88,5,7,6,9,8,11,23,32]
b=[]


for i in range(1,len(a)+1):

  b.append(a[-i])
print(b)

[32, 23, 11, 8, 9, 6, 7, 5, 88, 4, 3, 2, 99, 1]

In [ ]:
#Reverse the list using insert
a=[1,2,3,4,5,6]
reverse_list=[]
for i in a:
  if True:
    reverse_list.insert(0,i)     #insert function-first position and then value here 0,i

print(reverse_list)

[6, 5, 4, 3, 2, 1]

#Object Oriented Programming

# Class and Objects

In [ ]:
#simple program to understand class

class Cars:
  attr1="BMW"
  attr2="series1"

  def fun(self):
    print("I am from",self.attr1)
    print("my model is",self.attr2)

John=Cars()
print(John.attr1)
John.fun()

BMW
I am from BMW
my model is series1

In [ ]:
#example2
class phone:      #making a class
  def make_call(self):    #function making always use self a parameter
    print("lets make a phone call")

  def play_game(self):
    print("lets play a game")


p1=phone()    #creating object p1
p1.make_call()
p1.play_game()

lets make a phone call
lets play a game

In [ ]:
#Adding parameter to class

class phone:
  def make_call(self):
    print("lets make a phone call")

  def play_game(self):
    print("lets play a game")

  def set_color(self,color):      #adding new parameter and adding new functons
    self.color = color

  def set_cost(self,cost):
    self.cost = cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost


p2=phone()  #creating new object p2
p2.set_color('blue')
p2.set_cost(50000)

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

50000

In [ ]:
#Creating a class with constructor

class Employee:

  def __init__(self,name,age,salary,gender):         #init method  is constructor

    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender


  def employee_details(self):
    print("Name of employee is",self.name)
    print("Age of employee is",self.age)
    print("Salary of employee is ",self.salary)
    print("Gender of employee is",self.gender)


e1=Employee("Sam",32,85000,"Male")

e1.employee_details()

Name of employee is Sam
Age of employee is 32
Salary of employee is  85000
Gender of employee is Male

In [ ]:
#another example for init method
class Student:
  def __init__(self,name,age,mark,grade):
    self.name = name
    self.age = age
    self.mark = mark
    self.grade = grade

  def student_details(self):
    print("Name of student",self.name)
    print("Age of student",self.age)
    print("Total mark scored",self.mark)
    print("Grade",self.grade)

s1=Student("Riya",16,98,"A")
s1.student_details()

Name of student Riya
Age of student 16
Total mark scored 98
Grade A

In [ ]:
class Cars:
  fourwheelers='cars'

  def __init__(self,brand,color):
    self.brand=brand
    self.color=color


  def fun(self):
    print("hello",self.brand)
    print("and color is",self.color)

Tata=Cars("Nexon","blue")
mustang=Cars("Ford","orange")
Tata.fun()

hello Nexon
and color is blue

In [ ]:
#Default constructor

class Myclass:    #default constructor
  def __init__(self):
    self.hello="hello"
  def print_hello(self):   #a method for printing data members
    print(self.hello)

obj=Myclass()   #creating objects of the class
obj.print_hello()  #calling the instance method using object obj

hello

In [ ]:
#parameterized constructor

class Myclass:
  first = 0
  second = 0
  answer = 0

  def __init__(self,f,s):
    self.first = f
    self.second = s

  def display(self):
    print("first number="+str(self.first))
    print("second number="+str(self.second))
    print("Addition of two number="+str(self.answer))

  def calculate(self):
    self.answer=self.first + self.second


obj=Myclass(2000,2000)
obj.calculate()
obj.display()

first number=2000
second number=2000
Addition of two number=4000

In [ ]:
#Destructors

class Employee:
  def __init__(self):   #initializing
    print('Employee created')

  def __del__(self):    #deleting(called destructor)
    print('Destructor called,Employee deleted')

obj=Employee()
del obj

Employee created
Destructor called,Employee deleted

# **Inheritance in O**OP

  Inheritance is a fundemental concept of object-oriented programming(oop) that allows a class (child or derived class) to acquire the attributes and methods of another class (parent or base class), it facilitates code reusability, modularity, and the creation hierarchical relationships b/w classes. Promoting efficient code management and reducing redundancy.



**Types of inheritance**

- 1) Single inheritance:
 - A derived class inherits form a single parent class, gaining access to its properites and methods

- 2) Multilevel inhertance:
 - A class inherits from another derived class, froming a chain of inheritance.

- 3) Hierarchial inheritance:
 - Multiple derived classes inherit from a single parent class, allowing shared behavior across diggerent subcalsses

- 4) Multiple Inheritance:
 - A single derived clas inhertis from multiple parent classes, combining functionalities from different sources.

## 1) Single Inheritance


*   A derived class inherits from a single parent class,gaining access to its properties and methods.

In [ ]:
#example1
class Animal:   #parent class
  def speak(self):
    print("Animal speaking")

class Dog(Animal):   #child class(can inherit the properties and methods of parent class)
  def bark(self):
    print("Dog barking")

d=Dog()
d.bark()
d.speak()  #we can call parent class methgod through child class

a=Animal()
a.speak()
#a.bark() AttributeError: 'Animal' object has no attribute 'bark' (because parent class have no connection with the child behaviour/child method)

Dog barking
Animal speaking
Animal speaking

In [ ]:
#example2
class vehicle:
  def start(self):
    print("Vehicle is starting..")
  def stop(self):
    print("vehicle is stopping..")

class car(vehicle):
  def drive(self):
    print("car is being driven")

my_car =  car()
my_car.start()
my_car.drive()
my_car.stop()

Vehicle is starting..
car is being driven
vehicle is stopping..

In [ ]:
#example 3
class fruits:
  def type(self):
    print(" Different types of fruits")

class apple(fruits):
  def color(self):
    print(" It is a red colored fruit")

f1=apple()
f1.type()
f1.color()

f2=fruits()
f2.type()

 Different types of fruits
 It is a red colored fruit
 Different types of fruits

## 2) Multilevel Inheritance


*   A class inherits from another derived class,forming a chain of inheritance.

In [ ]:
#Example1

class Animal:
  def speak(self):
    print("Animal speaking")

class Dog(Animal):   #childclass inheritance
  def bark(self):
    print("Dog barking")

class Dogchild(Dog):   #multilevel inheritance
  def eat(self):
    print("Eating bread...")

d=Dog()
d.bark()
d.speak()
#d.eat()   AttributeError: 'Dog' object has no attribute 'eat'

d1=Dogchild()  #multilevel child has all the method
d1.bark()
d1.speak()
d1.eat()

Dog barking
Animal speaking
Dog barking
Animal speaking
Eating bread...

In [ ]:
#example2

class fruits:
  def type(self):
    print("There are different types of frutis ")

class citrus(fruits):
  def acidic(self):
    print("citrus fruits are acidic in nature")

class orange(citrus):
  def color(self):
    print("It is a orange colored fruit")


f=citrus()
f.type()
f.acidic()
print("......multilevel inherited......")
f1=orange()
f1.type()
f1.acidic()
f1.color()

There are different types of frutis
citrus fruits are acidic in nature
......multilevel inherited......
There are different types of frutis
citrus fruits are acidic in nature
It is a orange colored fruit

## 3)Hierarchial Inheritance


*   Multiple derived classes inherit from a single parent class,allowing shared behaviour across different classes.

In [ ]:
#example1
class Shape:   #This is a parent class
  def info(self):
    print("shapes have dimensions....")

class Circle(Shape):  #this is child of shape
  def draw(self):
    print("Drawing a circle...")

class Rectangle(Shape): #this also child of shape
  def draw(self):
    print("Drawing a rectangle...")


c=Circle()
r=Rectangle()
c.info()
c.draw()
r.info()
r.draw()

shapes have dimensions....
Drawing a circle...
shapes have dimensions....
Drawing a rectangle...

In [ ]:
#example2
class person:     #parent class
  def introduce(self):
    print("Iam a person....")

class Teacher(person):   #child class1
  def teach(self):
    print("I teach students...")

class student(person):  #childclass2
  def study(self):
    print("I study subjects...")

t=Teacher()
s=student()
t.introduce()
t.teach()
print("................")
s.introduce()
s.study()

Iam a person....
I teach students...
................
Iam a person....
I study subjects...

In [ ]:
#example3
class animal:
  def sound(self):
    print("animal sounds...")

class dog(animal):
  def bark(self):
    print("Dogs use bark nto alert")

class cat(animal):
  def meow(self):
    print("Cats meows to express needs")

d=dog()
d.sound()
d.bark()
print()

c=cat()
c.sound()
c.meow()

animal sounds...
Dogs use bark nto alert

animal sounds...
Cats meows to express needs

## 4) Multiple Inheritance

*   A single derived class inherits from multiple parent classes,combining functionalities from different sources.

In [ ]:
#example1
class Calculation1:    #parent class1
  def summation(self,a,b):
    print(a+b)

class Calculation2:    #parent class2
  def multiplication(self,a,b):
    print(a*b)


class Derived(Calculation1,Calculation2):   #child class having 2 parent classes
  def divide(self,a,b):
    print(a/b)


d=Derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

## 5) Hybrid Inheritance


*  Hybrid inheritance is a combination of two or more types of inheritance(such as single,multiple,multilevel,or hierarchial inheritance)in a single program.

In [ ]:
#example1
class person:    #parent class
  def show(self):
    print("Iam a person")
class teacher(person):  #child class
  def teach(self):
    print("I teach students")

class staff:  #another class
  def manage(self):
    print("I manage school activities")

#hybrid inheritance "principal" inherited from both classes teacher and staff(single+multiple)

class principal(teacher,staff):
  def oversea(self):
    print("I oversea the entire school")

principal = principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

Iam a person
I teach students
I manage school activities
I oversea the entire school

##super() method


*   Super() is a built-in function in python that allows a derived (child) class to access and invoke methods or constructors from its parent (base) class.
*   It is commmonly used to avoidd code duplication and facilitate mthod resolution in multiple inheritance.

###syntax:
super().method_name(arguments)

In [ ]:
class Parent:
  def greet1(self):
    print("Hello from parent...")

class Child(Parent):
  def greet2(self):
    super().greet1()
    print("Hello from child...")

child=Child()
child.greet2()

Hello from parent...
Hello from child...

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor is called...")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
    print("child constructor called....")
    print(self.name,self.age)

c1=child("Prayan",3)

parent constructor is called...
child constructor called....
Prayan 3

#Basic Inheritance Questions

In [ ]:
#Single Inheritance question

class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def display(self):
    print("name of the person is",self.name)
    print("age of the person is",self.age)

class Student(Person):
  def id(self,id):
    self.id=id
    print("the student id is",self.id)


s1=Student("siya",20)
s1.id(10)
s1.display()

the student id is 10
name of the person is siya
age of the person is 20

In [ ]:
#Constructor in inheritance

class Animal:
  def __init__(self):
    print("Animal created")

class Dog(Animal):
  def show(self):
    print("Dog is created")

d1=Dog()
d1.show()

Animal created
Dog is created

In [ ]:
#calling parent class method-Create a base class Vehicle with a method start().
#Inherit it in a class Car and override start()

class Vehicle:
  def start(self):
    print("the vehicle is started")

class Car(Vehicle):
  def start(self):
    print("the car is starting")


car=Car()
car.start()

the car is starting

In [ ]:
#Multilevel Inheritance

class Animal:
    def show(self):
      print("Its class name:Animal")

class Mammal(Animal):
    def show1(self):
       print("Its class name:Mammal")

class Dog(Mammal):
    def show2(self):
       print("Its class name:Dog")

dog=Dog()
dog.show()
dog.show1()
dog.show2()

Its class name:Animal
Its class name:Mammal
Its class name:Dog

In [ ]:
#Hierarchical Inheritance
#Create a class Shape. Inherit Circle and Rectangle from it.
#Each subclass should implement its own method to calculate area.

class Shape:
  def show(self):
    print("Different shapes")

class Circle(Shape):
  def Area_circle(self,radius):
    self.radius=radius
    self.area=2.17*radius*radius
    print("Area of circle is:",self.area)

class Rectangle(Shape):
  def Area_Rect(self,length,breadth):
    self.length=length
    self.breadth=breadth
    self.area=length*breadth
    print("Area of rectangle is:",self.area)


c1=Circle()
c1.show()
c1.Area_circle(3)
print()
r1=Rectangle()
r1.show()
r1.Area_Rect(6,5)

Different shapes
Area of circle is: 19.53

Different shapes
Area of rectangle is: 30

In [ ]:

#Create a class Employee with attributes name, emp_id, and department.
#Create a class Manager that inherits from Employee and adds team_size.
#Write a method to display all attributes of a manager.

class Employee:
  def __init__(self,name,emp_id,department):
    self.name=name
    self.emp_id=emp_id
    self.department=department

class Manager(Employee):
  def __init__(self,name,emp_id,department,team_size):
    super().__init__(name,emp_id,department)
    self.team_size=team_size
    print("Details of manager")
    print(f"Name of employee:{name}\nemp_id:{emp_id}\ndepartment:{department}\nteam_size:{team_size}")

m1=Manager("Toms",121,"IT",25)

Details of manager
Name of employee:Toms
emp_id:121
department:IT
team_size:25

In [ ]:
#Same example  without usin init() in base class

class Employee:
  def display(self,name,emp_id,department):
    self.name=name
    self.emp_id=emp_id
    self.department=department

class Manager(Employee):
  # Add name, emp_id, and department as arguments to the Manager's __init__
  def __init__(self, name, emp_id, department, team_size):
    # Pass name, emp_id, and department to the parent class's __init__
    super().display(name,emp_id,department)
    self.team_size=team_size
    print("Details of manager")
    # Access the attributes using self.
    print("Name:",self.name,"\n","emp_id:",self.emp_id,"\n","department:",self.department,"\n","team_size:",self.team_size)

# When creating a Manager object, provide all the required arguments
m1=Manager("Toms",121,"IT",25)

Details of manager
Name: Toms
 emp_id: 121
 department: IT
 team_size: 25

#Polymorphism
Polymorphism comes from the Greek words "poly"(many) and "morphds"(forms),meaning one task can be performed in deifferent ways.In object-oriented programming(oop),polymorphism allows the same method name to behave differently based on the object that calls it.

##Types of Polymorphism

1. Method Overriding (Runtime Polymorphism)

  - A child class provides a specific implemntation of a method that is already defined in the parent class.

2. Method Overloading (Compile-time Polymorphism - Not in python):
 - Multiple methods with the same name but different parameters. (python does not support method overloading directly like other languages such as java or C++)

##1.Method overriding(Run time Polymorphism)

*   A child class provides a specific implemntation of a method that is already defined in the parent class

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")

class C(B):
  def show(self):
    print("class C")

obj=C()
obj.show()  #method overriding

class C

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    super().show()
    print("class B")

class C(B):
  def show(self):
    super().show()
    print("class C")

obj=C()
obj.show()

class A
class B
class C

##Method Overloading
Polymorphism in python allows different classes to have methods with the same name but different functionality. **Method overloading** means having multiple methods with the same name but different numbers or types of parameters.


- **Default arguments** - Providing default values to parameters.
- **Variable - length arguments ( * args, ** kwargs )** - Allowing a method to acccept different numbersof arguments

In [ ]:
#Default arguments

class Calculator:
  def add(self,a=0,b=0,c=0):
    print(a+b+c)

cal=Calculator()
#call th method with different numbers of arguments.#
cal.add()
cal.add(10)
cal.add(10,20)
cal.add(10,20,3)

0
10
30
33

In [ ]:
#postional argument(*args)
class mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum: {total}")

math = mathoperations()

#call the method with n number of arguments using(*args)
math.add(10,20)
math.add(10,20,30)
math.add(10,20,30,40)

sum: 30
sum: 60
sum: 100

In [ ]:
#keyword arguments(**keyword)

class Greeting:
  def say_hello(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"you are {kwargs['age']} years old!")
    print(f"you are from {kwargs['city']}!")

g=Greeting()
g.say_hello(name="Miya",age=20,city="Thrissur")

Hello Miya!
you are 20 years old!
you are from Thrissur!

# **Encapsulation**

**Encapsulation** is one of the fundamental concepts in OOP that refers to binding data ( variables ) and methods ( fucntions ) that operate on the data into a single unit, and restriciting direct access to some of the object's components

- In simpler terms, Encapsulation is about protecting data by controlling access to it.

**Key Features of Encapsulation:**
 - 1) **Data Hiding :** Internal detailsof an object aare hidden from the outside world
 - 2) **Access Controll :** Provides controlled access using public, private, and protected access specifiers.
 - 3) **Improved Security :** Prevents unathorized access and accidental modification of data

**Encapsulation Access Specifiers in Python :**
- **Public Members :** Accessible from anywhere.
- **Protected Members ( _variable ):** Intended for internal use but can be accessed with a warning
- **Private Members ( __variables ) :** Not accessible directly outside the class

In [ ]:
#Example
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id
c1=company("TCS",91)
print(c1._company_id) #we can print one underscore variable
#print(c1.__company_name)   #we can't print two underscore variable.ie,private variable

91

In [ ]:
#double underscored variable we can't acces outside of class, but we can access on the class
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

  def get_company_name(self):
    print(self.__company_name)
c1=company("TCS",91)
print(c1._company_id)
c1.get_company_name()

91
TCS

In [ ]:
#example2
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance
  def deposit(self,amount):
    if amount>0:
      self.__balance += amount
      print(f"Deposited {amount}.\nNew balance:{self.__balance}")
    else:
      print("Invalid deposit amount.")

  def get_balance(self):
    return self.__balance

account=bankaccount("28873110",1000)
account.deposit(500)
print(f"Current balance:{account.get_balance()}")

Deposited 500.
New balance:1500
Current balance:1500

#Abstraction


*   Abstraction is a concept in **Object-Oriented Programming (oop)** that focuses on **hiding the implementation details** and showing only the necessary features of an object.
*   It allows users to focus on **what an object do's** rather than how it does it.


* **Example :**
  - When you use a smartphone you only see the interface ( buttons, icons ) but you don't need to know how the internal circuits work




*  **Why is Abstraction important?**
  - Simplifies complex systems by focusing only on essential aspects.
  - Reduces code complexity and increases reusability.
  - Enhances security by restricting direct acces to implementation details


  **Abstraction in python Using Abstract Classes**
   - Python provides **abstraction** using **abstract classes** and  **abstract methods** which are defined in the abc module
  - **Abstract class :** A class that contains one or more abstract methods, it cannot be instantiated directly.
  - **Abstrcat method :** A method that is declared but contains no implementation ( must be implemented by child classses. )


  **from abc import ABC,abstract method**

In [ ]:
#Example 1

from abc import ABC,abstractmethod

class Vehicle(ABC):   #abstract class

  @abstractmethod
  def start_engine(self):
    pass   #abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass  #abstract method with no implementation

v=Vehicle()  #An abstract class can't instantiate directly

TypeError: Can't instantiate abstract class Vehicle with abstract methods start_engine, stop_engine

In [ ]:
from abc import ABC,abstractmethod

class Vehicle(ABC):   #abstract class

  @abstractmethod
  def start_engine(self):
    pass   #abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass  #abstract method with no implementation

#making child class for abstract class instantiating
class Car(Vehicle):  #child class of vehicle

  def start_engine(self): #also we need to create same method in child class
    print("Car engine started")

  def stop_engine(self):    #also we need to create same method in child class
    print("Car engine stopped")

car=Car()
car.start_engine()
car.stop_engine()

Car engine started
Car engine stopped

 - `If we want to make object from abstract class we can't directly make object from the abstract class.`

 - `So we need to make child class for abstract class object making`
 - `And also need to make same method ( function ) on child class also`

In [ ]:
#example3
from abc import ABC,abstractmethod
class Appliances(ABC):

  @abstractmethod
  def turn_on(self):
    pass
  @abstractmethod
  def turn_off(self):
    pass

class Washing_Machine(Appliances):
  def turn_on(self):
    print("Washing machine is on")

  def turn_off(self):
    print("Washing machine is off")

w1=Washing_Machine()
w1.turn_on()
w1.turn_off()

Washing machine is on
Washing machine is off

In [ ]:
#example4
from abc import ABC,abstractmethod

class Shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass


class circle(Shape):
  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    self.area=3.14*self.radius*self.radius
    print("Area of circle is:",self.area)

class Rectangle(Shape):
  def __init__(self,length,breadth):
    self.length=length
    self.breadth=breadth


  def calculate_area(self):
    self.area=self.length*self.breadth
    print("Area of rectangle is:",self.area)

c1=circle(5)
c1.calculate_area()
print()
r1=Rectangle(6,5)
r1.calculate_area()

Area of circle is: 78.5

Area of rectangle is: 30

#Practice Questions-Polymorphism,encapsulation,Abstraction

In [ ]:
#Write a Python program that uses polymorphism with two different classes having the same method name.

class Animal:

  def sounds(self):
    print("Animal Sounds")

class Dog(Animal):
  def sounds(self):
    print("Dog barks")

a1=Animal()
a1.sounds()
d1=Dog()
d1.sounds()

Animal Sounds
Dog barks

In [ ]:
#Use polymorphism with a base class and multiple derived classes, overriding a method.

class shape:
  def perimeter(self):
    print("The perimeter of different shapes")

class Rectangle(shape):
  def __init__(self,length,breadth):
    self.length=length
    self.breadth=breadth

  def perimeter(self):
    self.perimeter=2*(self.length+self.breadth)
    print("Perimeter of rectangle is:",self.perimeter)

class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def perimeter(self):
    self.perimeter=2*3.14*self.radius
    print("Perimeter of circle is:",self.perimeter)

r1=Rectangle(4,5)
r1.perimeter()
print()
c1=circle(5)
c1.perimeter()

Perimeter of rectangle is: 18

Perimeter of circle is: 31.400000000000002

In [ ]:
 #Demonstrate encapsulation by creating a class with private attributes and public getter/setter methods.

class Student:

  def set_details(self,name,age):
    self.__name=name
    self.__age=age

  def get_details(self):
    print("Name:",self.__name)
    print("Age:",self.__age)

s1=Student()
s1.set_details("Miya",20)
s1.get_details()

Name: Miya
Age: 20

In [ ]:
#Create a BankAccount class that uses encapsulation to restrict direct access to balance and supports deposit/withdraw operations with validation.

class BankAccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposit(self,amount):
    if amount>0:
      self.__balance += amount
      print(f"Deposited {amount}.\nNew balance:{self.__balance}")
    else:
      print("Invalid deposit amount.")

  def withdraw(self,amount):
    if amount>0 and amount<=self.__balance:
      self.__balance -= amount
      print(f"Withdrew {amount}.\nNew balance:{self.__balance}")
    else:
      print("Invalid withdrawal amount or insufficient balance  ")


  def get_balnce(self):
    print("Avilable balance is",self.__balance)

account=BankAccount("28873110",1000)
account.deposit(500)
account.withdraw(200)

Deposited 500.
New balance:1500
Withdrew 200.
New balance:1300

In [ ]:
#Create an abstract class Employee with an abstract method calculate_salary()
#and implement it in two different roles.

from abc import ABC,abstractmethod

class Employee(ABC):
  @abstractmethod
  def calculate_salary(self):
    pass

class Manager(Employee):
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary

  def calculate_salary(self):
    self.salary=self.salary*30
    print(f"Manager {self.name} salary is {self.salary}")

class SalesOfficer(Employee):
  def __init__(self,name,salary):
    self.name=name
    self.salary=salary

  def calculate_salary(self):
    self.salary=self.salary*30
    print(f"SalesOfficer {self.name} salary is {self.salary}")


m1=Manager("Niya",2000)
s1=SalesOfficer("John",1000)
m1.calculate_salary()
s1.calculate_salary()

Manager Niya salary is 60000
SalesOfficer John salary is 30000

In [ ]:
#Create a Student class that holds a student's name and private marks for multiple subjects.
#Provide methods to set and get marks, compute average, and determine grade based on average.

class Student:
  def __init__(self,name,physics_mark,maths_mark,chemistry_mark):
    self.name=name
    self.__mark1=physics_mark
    self.__mark2=maths_mark
    self.__mark3=chemistry_mark

  def get_marks(self):
    print(f"the name of the student is {self.name}")
    print(f"Physics_mark:{self.__mark1}\nMaths_Mark:{self.__mark2}\nChemistry_Mark:{self.__mark3}")

  def get_average(self):
    self.average=(self.__mark1+self.__mark2+self.__mark3)/3
    print(f"The average_mark of 3 subjects :{self.average}")

  def get_grade(self):
    if self.average >= 90:
      print("Grade A+")
    elif self.average >= 80:
      print("Grade A")
    elif self.average >= 70:
      print("Grade B+")
    elif self.average >= 60:
      print("Grade B")
    elif self.average >= 50:
      print("Grade c+")
    elif self.average >= 40:
      print("Grade C")
    else:
      print("failed")








s1=Student("Riya",85,90,91)
s1.get_marks()
s1.get_average()
s1.get_grade()

the name of the student is Riya
Physics_mark:85
Maths_Mark:90
Chemistry_Mark:91
The average_mark of 3 subjects :88.66666666666667
Grade A

#Class Methods

Class methods can modify class-level variables or properties(variables shared among a instances).This allows chages to be made that affect the class as a whole,rather than an individual instance.



**@classmethod**:This is to define a class method,it indicates that the method is bound to the class,not an instance.
**First Parameter(cls)**:The first parameter of a class method is always a reference to the instance(typically names self).



    class Myclass:
      @classsmethod
      def my_class_methods(cls,args):
        # "cls" is a reference to the class itself
        # This method can modify class state pass

In [ ]:
#example

class car:
  #class variable
  wheels = 4

  def __init__(self,brand,model):
    self.brand = brand
    self.model = model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels = new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}.")


car1=car("Toyota","Etios")  #create an instance of class
car.change_wheels(6)

print()

#the class variable "wheels" is now changed for all instances.
print(f"car variable is updated to:{car1.wheels}")

The number of wheels has been updated to 6.

car variable is updated to:6

#Practice Questions

1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC,abstractmethod

class Animal(ABC):

  @abstractmethod
  def make_sound(self):
    pass


class Dog(Animal):

  def make_sound(self):
    print(f"Dog is barking!!!!")

class Cat(Animal):

  def make_sound(self):
    print(f"Cat is meowing!!!!")


d1=Dog()
d1.make_sound()

c1=Cat()
c1.make_sound()

Dog is barking!!!!
Cat is meowing!!!!

2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
from abc import ABC,abstractmethod

class Employee(ABC):
  @abstractmethod
  def calculate_salary(self):
    pass

class FullTimeEmployee(Employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
    print(f"The salary is:{self.salary}")

class PartTimeEmployee(Employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
     print(f"The salary is:{self.salary/2}")


s1=FullTimeEmployee(10000)
s1. calculate_salary()
s2=PartTimeEmployee(10000)
s2. calculate_salary()

The salary is:10000
The salary is:5000.0

Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.

In [ ]:
from abc import ABC,abstractmethod

class Polygon(ABC):

  @abstractmethod
  def number_of_sides(self):
    pass

class Triangle(Polygon):
  def __init__(self,side):
    self.side=side

  def number_of_sides(self):
    print(f"The no.of sides of a trangle is:{self.side}")


class Pentagon(Polygon):
  def __init__(self,side):
    self.side=side

  def number_of_sides(self):
    print(f"The no.of sides of a pentagon is:{self.side}")


t1=Triangle(3)
t1.number_of_sides()

p1=Pentagon(5)
p1.number_of_sides()

The no.of sides of a trangle is:3
The no.of sides of a pentagon is:5

1. Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name) – A method to set the student's name.
get_name() – A method to retrieve the student's name.
set_marks(marks) – A method to set the student's marks (Ensure marks cannot be negative).
get_marks() – A method to retrieve the student's marks.

In [ ]:
class Student:

  def __init__(self):
    self.__name=""
    self.__marks=0
  def set_name(self,name):
    self.__name=name

  def get_name(self):
    print(f"Name of the student:{self.__name}")

  def set_marks(self,marks):
    if marks < 0:
      print("Invalid marks")
    else:
      self.__marks=marks

  def get_marks(self):
      print(f"Name of the student:{self.__marks}")


s1=Student()
s1.set_name("Drishya")
s1.get_name()

s1.set_marks(98)
s1.get_marks()

Name of the student:Drishya
Name of the student:98

Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary) – A method to set the employee's salary (Ensure the salary is a positive value).
-get_salary() – A method to retrieve the employee's current salary.
-increase_salary(percentage) – A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class.
-Setting the salary to 50000 and printing it using the getter method.
-Increasing the salary by 10% and printing the updated salary.
-Dont allow negative salary , give warning message

In [ ]:
class Employee:
  def __init__(self):
    self.__salary=0


  def set_salary(self,salary):
    if salary < 0:
      print("Salary can't be negative")
    else:
      self.__salary=salary

  def get_salary(self):
    print(f"The current salary of employee is:{self.__salary}")

  def increase_salary(self,percentage):
    per_centage = self.__salary/100
    print(f"The updated salary is:{(percentage*per_centage)+self.__salary}")

e1=Employee()
e1.set_salary(50000)
e1.get_salary()
e1.increase_salary(10)

The current salary of employee is:50000
The updated salary is:55000.0

#File Handling

In [ ]:
#open() -open a file
#Open a file named "example.txt" in write mode
file=open("example.txt","w")


#Write some text to the file
file.write("Hello,this is a simple file handling example in python")


#close the file
file.close()

In [ ]:
#open the file in read mode
file=open("example.txt","r")

#read the file content
content=file.read()

#print the content
print(content)

#close the file
file.close()

Hello,this is a simple file handling example in python

In [ ]:
#append content
file=open("example.txt","a")
file.write("\nThis will add this line")
file.close()

In [ ]:
#writing to file using with statement
with open("sample.txt","w") as file:
  file.write(" File handling using with statement ")

In [ ]:
#Reading from a file using with statement
with open("sample.txt","r") as file:
  content=file.read()
  print(content)

 File handling using with statement

In [ ]:
#Reading from a file using with statement
with open("sample.txt","r") as file:
  content=file.read()
  print(content.split(" ")) #split is used to split the sentence
  print(content)

['', 'File', 'handling', 'using', 'with', 'statement', '']
 File handling using with statement

In [ ]:
with open("sample.txt","r") as file:
  content=file.read()
  print(content.strip())   #used to remove white spaces
  print(content)

File handling using with statement
 File handling using with statement

File handling using with statement

#Threading
Threading allows multiple parts of program to run concurrently
- **Useful for tasks like:**
 - Handling multiple user requests.
 - Background tasks (eg. monitoring sensors).
 - Downloading multiple files simultaneously.

 ## Example
  **Smart Home App :-**
   - Mananging multiple tasks like:
    - Secutiy camera feed.
    - Processing tempreture data.
    - Respnding to user commands.

- Threading ensures smooth and efficient functioning.


## How to use Threading in Python
 - 1. Import the threading module.
 - 2. Create threads using **threading.Thread( )**
 - 3. Start threads using  ,**start( )**
 - 4. Wait for threads to finish using **.join( )**

In [ ]:
#Example 1`:Basic Thread

import threading

def task():
  print("THREAD RUNNING")

thread = threading.Thread(target=task)
thread.start()

thread.join()

THREAD RUNNING

In [ ]:
#Example2:Mutltiple Threads
import threading
def task1():
  print("Task1")


def task2():
  print("Task2")


t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task1
Task2

In [ ]:
import threading

def print_numbers():
  for i in range(5):
    print(i)


thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"downloading{file}....")
  time.sleep(2)
  print(f"{file} dwonloaded.")



files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]

for t in threads:
  t.start()

for i in threads:
  t.join()

downloadingfile1.txt....
downloadingfile2.txt....
downloadingfile3.txt....
file1.txt dwonloaded.
file2.txt dwonloaded.
file3.txt dwonloaded.

In [ ]:
#using threads with arguments

import threading
def greet(name):
  print(f"Hello,{name}")

thread=threading.Thread(target=greet,args=("alice",))
thread.start()
thread.join()

Hello,alice

In [ ]:
import threading
import time

#Function for the chef's work(thread1)
def chef_work():
  for i in range(5):  # Chef prepares 5 dishes
    print(f"Chef:Preparing dish{i+1}")
    time.sleep(2) # Simulate time taken to prepare a dish
    if i==2:    # Assistant starts washing utensils during the 3rd dish
      print(f"Chef:preparing dish {i+1}")
      time.sleep(1)   # Simulate time taken to call the assistant
      assistant_thread = threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join()    # Wait for the assistant to finish
      print("Chef:Assistant done.Resuming dish preperation")
  print("Chef:All dishes are prepared")


# Function for the assistant's work (Thread 2)
def assistant_work():
  for j in range(3):    # Assistant washes 3 utensils
    print(f"Assistant: Washing utensil {j+1}")
    time.sleep(2)   # Simulate time taken to wash each utensil
  print("Assistant :All utensil are clean")



print("Kitchen: Starting work.")
chef_thread = threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()  # Wait for the chef to complete their work
print("Kitchen: All work completed.")

Kitchen: Starting work.
Chef:Preparing dish1
Chef:Preparing dish2
Chef:Preparing dish3
Chef:preparing dish 3
Assistant: Washing utensil 1
Assistant: Washing utensil 2
Assistant: Washing utensil 3
Assistant :All utensil are clean
Chef:Assistant done.Resuming dish preperation
Chef:Preparing dish4
Chef:Preparing dish5
Chef:All dishes are prepared
Kitchen: All work completed.

###Question
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second.
During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds.
Ensure the music playback waits for the lyrics to finish downloading before continuing.

**Output**

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
  Downloading lyrics... 1 seconds
  Downloading lyrics... 2 seconds
  Downloading lyrics... 3 seconds
  Lyrics download completed.
Music Player: Lyrics downloaded.
Music Player: Playing music... 4 seconds
Music Player: Playing music... 5 seconds
Music Player: Playback ended

In [ ]:
import threading
import time

def music_player():
  for i in range(5):
    print(f"Music is playing...{i+1}seconds...")
    time.sleep(2)
    if i==2:
      print(f"Downloading lyrics in the background.")
      downloading_thread=threading.Thread(target=download_lyrics)
      downloading_thread.start()
      downloading_thread.join()
      print(f"Music Downloaded...Resume playing Music")
  print(f"Music played for 5 sec....stop")



def download_lyrics():
  for j in range(3):
    print(f"Download music {j+1}seconds")
  print(f"Music downloaded")


print("Let's play Music.....")
playing_thread=threading.Thread(target=music_player)
playing_thread.start()
playing_thread.join()
print("Music played and downloaded")

Let's play Music.....
Music is playing...1seconds...
Music is playing...2seconds...
Music is playing...3seconds...
Music is playing...3seconds...
Download music 1seconds
Download music 2seconds
Download music 3seconds
Music downloaded
Music Downloaded...Resume playing Music
Music is playing...4seconds...
Music is playing...5seconds...
Music played for 5 sec....stop
Music played and downloaded

#Practice questions-Threading

1.Write a program where one thread prints "Working..." 5 times with 1-second delay.

In [ ]:
import threading
import time
def work_fun():
  for i in range(5):
    print(f"Working....")
    time.sleep(1)

thread=threading.Thread(target=work_fun)
thread.start()
thread.join()

Working....
Working....
Working....
Working....
Working....

2.Create two threads where one prints "A" five times and the other prints "B" five times.

In [ ]:
import threading
import time

def fun_a():
  for i in range(5):
    print(f"A")
    time.sleep(1)


def fun_b():
  for j in range(5):
    print(f"B")
    time.sleep(1)

thread1=threading.Thread(target=fun_a)
thread2=threading.Thread(target=fun_b)

thread1.start()
thread1.join()
thread2.start()

thread2.join()

A
A
A
A
A
B
B
B
B
B

3.Start a background thread that prints a message every 2 seconds while the main thread prints "Main running".

In [ ]:
import threading
import time

def bg_fun():
  for i in range(3):
    print(f"Background running")
    time.sleep(2)

bg_thread=threading.Thread(target=bg_fun)
bg_thread.start()

for _ in range(5):
    print("Main running")
    time.sleep(1)

bg_thread.join()

Background running
Main running
Main running
Background runningMain running

Main running
Background running
Main running

4.Create a countdown from 5 to 1 using a thread.

In [ ]:
import threading
import time

def count_dwn():
  for i in range(5,0,-1):
    print(i)

count_thread=threading.Thread(target=count_dwn)
count_thread.start()
count_thread.join()

5
4
3
2
1

5.Create a file download simulation that starts halfway through a main task.



*   Main task runs for 6 seconds.
*   Start download thread at second 3.


*   Ensure main thread waits for download to finish before continuing.

In [ ]:
import threading
import time

def main_task():
  for i in range(6):
    print(f"Main task running for {i+1} seconds")
    time.sleep(2)
    if i==2:
      print("wait for download to finish")
      dwnld_thread=threading.Thread(target=dwnld_file)
      dwnld_thread.start()
      dwnld_thread.join()
      print(f"File Downloaded...Resume running task")


def dwnld_file():
  for i in range(3):
    print(f"file downloading {i+1} second")
    time.sleep(1)

print("Main task running......")
main_thread=threading.Thread(target=main_task)
main_thread.start()
main_thread.join()

Main task running......
Main task running for 1 seconds
Main task running for 2 seconds
Main task running for 3 seconds
wait for download to finish
file downloading 1 second
file downloading 2 second
file downloading 3 second
File Downloaded...Resume running task
Main task running for 4 seconds
Main task running for 5 seconds
Main task running for 6 seconds

#Iterator
An iterator is an object that contains a countable number of values.  


*   Technically in python,an iterator is an object which implements the iterator protocol,which consist of the methods __iter__() and __next__().

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    x=self.a
    self.a+=1
    return x

myclass=MyNumbers()
myiter=iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4

#Generator


*  Typically ,python executes a regular function from top to bottom based on the run to completion model.
*   To pause a function midway and resume from where the function was paused,you use the yield statement.


*   When a function contains at least one yield statement,it's a generator function
*  Generator are lazy iterator.Therefore to execute a generator function,you call the next() built-in function on it.

In [ ]:
def greeting():
  print('Hi!')
  yield 1
  print('How are you')
  yield 2
  print('Are you there')
  yield 3

In [ ]:
messenger=greeting()

In [ ]:
result=next(messenger)
print(result)

Hi!
1

#Exception Handling

Exception handling is a programming concept used to manage error or unexpected conditions that occure during the exicution of a programme .it alles the programe to continue running of failgracefully instead of crashing .

# Use Exception Handling?
 - To prevent the entire program from crashing due to runtime errors.

 - To provide informative error messages.

 - To allow recovery or alternative execution paths.
#Common Terms

 - Exception: An error that occurs during program execution.

 - Try block: Code that might throw an exception.

 - Except block: Code that runs if an exception occurs.

 - Finally block: Code that always runs, whether an exception occurred or not.

 - Raise: Manually trigger an exception.

In [ ]:
#Example
a=[1,2,3]
try:
  print("Second element=%d"%(a[1]))
  print("Fourth element=%d"%(a[3]))
except:
  print("An error occured")

Second element=2
An error occured

#Regular Expression

A RegEx or Regular expression is a sequence of characters that forms a search pattern

RegEX can be used to check if a string contains the specified search pattern

**RegEX Module**

Python has a built in package called re,which can be used to work with regular expressions.

import re

In [ ]:
#search()fuction
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
if x:
  print("YES!We have a match!!")
else:
  print("No match")

YES!We have a match!!

In [ ]:
#finfall()fuction

import re
txt="The rain in Spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
#example2
import re
txt="The rain in Spain"
x=re.findall("portugal",txt)  #check if portugal is in the string
print(x)
if(x):
  print("Yes,there is atleast one match")
else:
  print("No match")

[]
No match

In [1]:
#split function

import re
txt = "The rain in spain"
x=re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'spain']

In [2]:
import re
txt = "The rain in spain"
x=re.split("\s",txt,1) #split the string only at the first occurrence.
print(x)

['The', 'rain in spain']

In [3]:
#sub function
import re
txt="The rain in spain"
x=re.sub("\s","9",txt)  #replace all white space character with the digit 9
print(x)

The9rain9in9spain

In [4]:
import re
txt="The rain in spain"
x=re.sub("\s","9",txt,2)  #replace the first 2 occurences of  white space character with the digit 9
print(x)

The9rain9in spain

In [6]:
import re
txt="The rain in Spain"
x=re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [7]:
#span()- print the start and end position of the first match occurence
#The regular expression looks for any words that start with an uppercase "S"

import re
txt="The rain in the Spain"
x=re.search(r"\bS\w+",txt)
print(x.span())

(16, 21)

In [8]:
#print the part of the string where there was a match
import re
txt="The rain in the Spain"
x=re.search(r"\bS\w+",txt)
print(x.group())

Spain

In [9]:
#print the string passed through the function
import re
txt="The rain in the Spain"
x=re.search(r"\bS\w+",txt)
print(x.string)

The rain in the Spain